@media (max-width: 760px){
    .projet{
        flex-direction: column;

    }

    .projet1 img{
        max-width: 100%;
    }
}
*{
    scroll-behavior: smooth;
}

body{
    background-image: url(Images/fond.jpeg);
    background-repeat : no-repeat;
    background-size: cover;
    padding-left: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    background-color: black;
    margin: 0;

    
}
.navv{
    color: rgb(137, 197, 193);
    border: 1px solid transparent;
    background-color: rgb(59, 77, 155);
    padding: 4px 16px;
    border-radius: 10px;
    
}

.navv:hover{
    background-color: white;
    color: black;
}
nav ul {
    display: flex;
    gap: 30px;
    padding: 8px 16px; 
    list-style: none;  
} 

header{
    color: white;
}

p{
    color: #e0e0e0;
}

h3{
    color: rgb(137, 197, 193);
}

h3:hover{
    color: white;
}

 section{
    padding-top: 10%;
 }


 li a{
    text-decoration: none;

 }

 a{
    list-style: none;
 }
 

img{
    width: 20%;
    
    max-width: 300px;
    
}

.projet1{
    display: flex;
    align-items: flex-start;
    gap: 30px;
}
.lien-projet{
    display: inline-block;
    margin-top: 10px;
    padding: 4px 16px;
    border: 1px solid transparent;
    background-color: rgb(59, 77, 155) ;
    text-decoration: none;
    border-radius: 10px;
    color: rgb(137, 197, 193);

}

.lien-projet:hover {
    background-color: white;
    color: black;
}

.ligne{
     width: 70%;
    margin: 20px auto;
    border: none;
    border-top: 1px solid blueviolet;
}



